.wavesurfer-region {
  opacity: 50%;
  top: 10% !important;
  height: 80% !important;
}

.wavesurfer-region-active {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ffffff 10px,
    #ffffff 15px
  );
  z-index: 1000 !important;
  /* opacity: 100%; */
}

.wavesurfer-region-overlapping-1-1 {
  top: 10% !important;
  height: 80% !important;
}

.wavesurfer-region-overlapping-1-2 {
  top: 10% !important;
  height: 70% !important;
}

.wavesurfer-region-overlapping-2-2 {
  top: 20% !important;
  height: 70% !important;
}

.wavesurfer-region-overlapping-1-3 {
  top: 10% !important;
  height: 60% !important;
}

.wavesurfer-region-overlapping-2-3 {
  top: 20% !important;
  height: 60% !important;
}

.wavesurfer-region-overlapping-3-3 {
  top: 30% !important;
  height: 60% !important;
}

.wavesurfer-region-overlapping-1-4 {
  top: 10% !important;
  height: 50% !important;
}

.wavesurfer-region-overlapping-2-4 {
  top: 20% !important;
  height: 50% !important;
}

.wavesurfer-region-overlapping-3-4 {
  top: 30% !important;
  height: 50% !important;
}

.wavesurfer-region-overlapping-4-4 {
  top: 40% !important;
  height: 50% !important;
}
