.wavesurfer-handle {
  border-width: 1px;
  opacity: 50%;
}

.wavesurfer-region {
  opacity: 80%;
  top: 10% !important;
  height: 80% !important;
}

.wavesurfer-region-active {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ffffff 10px,
    #ffffff 15px
  );
  z-index: 1000 !important;
}

.wavesurfer-region-overlapping-1-1 {
  top: 10% !important;
  height: 80% !important;
}

.wavesurfer-region-overlapping-1-2 {
  top: 10% !important;
  height: 70% !important;
}

.wavesurfer-region-overlapping-2-2 {
  top: 20% !important;
  height: 70% !important;
}

.wavesurfer-region-overlapping-1-3 {
  top: 10% !important;
  height: 60% !important;
}

.wavesurfer-region-overlapping-2-3 {
  top: 20% !important;
  height: 60% !important;
}

.wavesurfer-region-overlapping-3-3 {
  top: 30% !important;
  height: 60% !important;
}

.wavesurfer-region-overlapping-1-4 {
  top: 10% !important;
  height: 50% !important;
}

.wavesurfer-region-overlapping-2-4 {
  top: 20% !important;
  height: 50% !important;
}

.wavesurfer-region-overlapping-3-4 {
  top: 30% !important;
  height: 50% !important;
}

.wavesurfer-region-overlapping-4-4 {
  top: 40% !important;
  height: 50% !important;
}

.wavesurfer-region-tag {
  padding-left: 4px;
  padding-top: 4px;
  opacity: 100%;
}

.label-button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.label-shortcut {
  background-color: white;
  /* margin-top: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

.label-button-active {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ffffff 10px,
    #ffffff 15px
  );
}

.label-input {
  background: transparent;
  border-width: 0px;
  border-style: solid;
}
